<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="shortcut icon" type="image/x-icon" src="/images/hlyd_logo.png"/>
    <link rel="stylesheet" href="/stylesheets/share.css">

</head>
<body class="">
<section class="">
    <div class="top-down-app">
        <a href="<%=appDownloadLink%>">
            <div class="ljyd-logo">
                <img src="/images/hlyd_logo.png" alt=""/>
            </div>
            <div class="app-info">
                <h4 class="name">
                    汇邻优店</h4>
                <div class="text">
                    邻里互动，同城交易
                </div>
            </div>
            <div class="button-down">
                免费下载
            </div>
        </a>
    </div>

    <article style="display: flex; justify-content: center; align-items: center; flex-direction: column">
        <div>
            下载「汇邻优店」App
        </div>
        <div>
            开启邻里新生活
        </div>
        <div class="cover">
            <img src="<%=downloadQrCode%>">
        </div>
        <div>
            <p style="text-indent: 2em">汇邻优店，周边店铺与生活信息交流平台。</p>
            <p>我们致力于打造和谐便捷的社区生活，提供值得信赖的周边商铺信息，为周边商铺发布预售、打折优惠、限时购等活动，创造更平衡的供需生态体系。同时，是一个邻里之间分享话题、信息交流、互帮互助的综合信息平台。</p>
        </div>
    </article>



    <div class="down-app">
        <a href="<%=appDownloadLink%>" class="button-down-app">下载汇邻优店，秀出美好生活</a>
    </div>
</section>

</body>

</html>
