<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="mobile-agent" content="format=html5">
    <title>汇邻优店APP下载</title>
    <meta name="description" content="邻里互动，同城交易">
    <meta name="keywords" content="店铺，邻里，优惠">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div id="main">
    <header>
        <div class="header-logo">
            <img src="/images/hlyd_logo.png" alt="">
            汇邻优店
        </div>
    </header>
    <div class="content">

    </div>

</div>
</body>
</html>
