<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="shortcut icon" type="image/x-icon" src="http://ac-k5rltwmf.clouddn.com/f437c4cb1d368193dfd3.png"/>
    <link rel="stylesheet" href="/stylesheets/share.css">

</head>
<body class="">
<section class="">
    <div class="top-down-app">
        <a href="https://www.pgyer.com/F5Df">
            <div class="ljyd-logo">
                <img src="http://ac-k5rltwmf.clouddn.com/4a2d4f55340eaa5f2066.png" alt=""/>
            </div>
            <div class="app-info">
                <h4 class="name">
                    汇邻优店</h4>
                <div class="text">
                    邻里互动，同城交易
                </div>
            </div>
            <div class="button-down">
                免费下载
            </div>
        </a>
    </div>
    <header class="artical-title">
        <h1 class="headline"><%=title%></h1>
        <div class="artical-info">
            <span class="times">22分钟前</span>
            <a class="new-source"
               href="https://www.baidu.com"
            >FourFourTwo</a>
            <span class="news-source">10评论</span>
        </div>
    </header>

    <article>
        <% if(content && content.length > 0) { %>
        <% content.forEach(( value ) => { %>
        <% if( value.type === 'COMP_TEXT') { %>
        <p> <%=value.text%> </p>
        <% } else if( value.type === 'COMP_IMG' ) { %>
        <div class="artical-image">
            <img src="<%=value.url%>">
        </div>
        <% }%>
        <% }) %>
        <% } %>
    </article>


    <div class="down-app">
        <a href="https://www.pgyer.com/F5Df" class="button-down-app">下载汇邻优店，秀出美好生活</a>
    </div>
</section>

</body>

</html>
